@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.catalog__nav {
  width: 100%;
  display: flex;
  padding-bottom: 48px;
  background-image: url(../../../../images/Catalog/school_1440.png);
  background-size: cover;
  background-repeat: no-repeat;

  &_kindergartens {
    background-image: url(../../../../images/Catalog/kindergarten_1440.png);
  }
}

.catalog__nav-item {
  @include button;
  padding: 40px 40px 0;
  color: $blue-lite;
  font-size: 48px;
  font-weight: $fw-normal;
  line-height: 1.2;

  &_selected {
    color: $black;
  }
}
