@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins';

.resources {
  padding: 47px 0 204px;
  background-color: $bg-purple;
}

.resources__container {
  position: relative;

  button {
    position: absolute;
    top: calc(50% - 25px);
    right: -50px;
  }
}

.resources__list {
  @include list;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.resources__button-img {
  width: 68px;
  aspect-ratio: 1 / 0.73;
  object-fit: cover;
}
