@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.service-work-card {
  border-radius: 16px;
  background-color: $white;
}

.service-work-card__info {
  margin: 20px;
  max-width: 592px;
  background-color: $white;
}

.service-work-card__header {
  margin: 0;
  padding-bottom: 40px;
  color: $blue-title;
  font-size: 30px;
  font-weight: $fw-semi-bold;
  line-height: 120%;
  letter-spacing: -0.3px;
}

.service-work-card__description {
  margin: 0;
  font-size: 24px;
  font-weight: $fw-light;
  line-height: 140%;
  letter-spacing: -0.24px;
}
