@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.add-review__title {
  @include text-xl;
  margin: 0 0 40px 0;
}

.add-review__stars-area {
  margin-bottom: 16px;
  p {
    @include text-l;
    margin-bottom: 16px;
  }
}

.add-review__text-area {
  display: flex;
  flex-direction: column;

  span {
    @include text-l(600);
    font-size: 18px;
    text-align: end;
    color: rgba(110, 87, 213, 0.4);
    margin: 0 0 16px 0;
  }

  textarea {
    @include text-l;
    width: 804px;
    height: 140px;
    padding: 16px;
    margin-bottom: 40px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(236, 240, 255, 1);

    &:focus {
      outline: 2px solid rgba(184, 199, 255, 1);
      box-shadow: 4px 4px 15px rgba(236, 240, 255, 1);
    }
    &::placeholder {
      @include text-l;
      color: rgba(149, 149, 149, 1);
    }
  }
}
