@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/placeholders.scss';

.button {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %gradient-button;
  color: white;
  border: none;
  border-radius: $radii;
  cursor: pointer;
  transition: ease-in-out 350ms;

  &_size {
    &_small {
      padding: 0 10px;
      min-height: 30px;
      @include text-s;
      background: $button-cyan;

      &:hover {
        background: $button-cyan-hover;
      }
    }

    &_medium {
      min-height: 41px;
      @include text-m($fw-bold);
      line-height: 1.3;
    }

    &_large {
      min-height: 71px;
      @include text-l($fw-bold);
      background: $button-orange;
    }
  }

  &_variant {
    &_link {
      background: transparent;
      color: $button-cyan;

      &:hover {
        background: transparent;
        color: $button-cyan-hover;
      }
    }

    &_square {
      border-radius: $radii-sm;
    }
  }

  &_color_empty {
    background: transparent;
    border: 1px solid $gray-900;
    color: $gray-900;

    &:hover {
      background: transparent;
      border: 1px solid $gray-300;
      color: $gray-300;
    }
  }
}
