@import '../../../styles/abstract/constants.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-300;
  color: white;
  border: none;
  border-radius: $radii;
  cursor: pointer;

  transition: ease-in-out 350ms;

  &:hover {
    background-color: $primary-100;
  }

  &_variant {
    &_link {
      background-color: transparent;
      color: $gray-300;

      &:hover {
        background-color: transparent;
        color: $gray-900;
      }
    }

    &_square {
      border-radius: $radii-sm;
    }
  }

  &_size {
    &_small {
      min-height: 30px;
      font-size: 14px;
      font-weight: $fw-normal;
      line-height: 1.2;
      letter-spacing: -0.14px;
    }

    &_medium {
      min-height: 41px;
      font-size: 16px;
      font-weight: $fw-bold;
      line-height: 1.3;
      letter-spacing: -0.16px;
    }

    &_large {
      min-height: 71px;
      font-size: 22px;
      font-weight: $fw-normal;
      line-height: 1.4;
      letter-spacing: -0.22px;
    }
  }

  &_color_empty {
    background-color: transparent;
    border: 1px solid $gray-900;
    color: $gray-900;

    &:hover {
      background-color: transparent;
      border: 1px solid $gray-300;
      color: $gray-300;
    }
  }
}
