@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/placeholders.scss';

.button {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-orange;
  color: $white;
  border: none;
  border-radius: $radii;
  cursor: pointer;
  transition: ease-in-out 350ms;

  &_size {
    &_small {
      min-height: 40px;
      @include text-m($fw-bold);
    }

    &_medium {
      min-height: 56px;
      @include text-l($fw-semi-bold);
    }

    &_large {
      min-height: 68px;
      @include text-l($fw-semi-bold);
    }
  }

  &_variant {
    &_link {
      padding: 0;
      background-color: transparent;
      color: $button-cyan-hover;

      &:hover {
        background-color: transparent;
        color: $button-cyan;
      }
    }

    &_square {
      padding: 0;
      height: 52px;
      border-radius: $radii-sm;
      background-color: $button-cyan;
      color: $blue-title;

      &:hover {
        background-color: $button-cyan-hover;
      }
    }
  }

  &_color {
    &_orange-fill {
      &:hover {
        background-color: $button-orange-hover;
      }
    }

    &_orange-empty {
      background-color: transparent;
      border: 1px solid $button-orange;
      color: $button-orange;

      &:hover {
        background-color: transparent;
        opacity: 0.9;
      }
    }

    &_orange-dis {
      background-color: $button-orange-dis;
      color: $black;
      @include disabled;
    }

    &_blue-empty {
      background-color: transparent;
      border: 1px solid $button-blue;
      color: $button-blue;

      &:hover {
        background-color: $button-blue-hover;
      }
    }
  }
}
