@import '../../styles/abstract/constants.scss';

.inputPassword {
  position: relative;
  width: 520px;
}

.inputPassword__forgetPassword {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.16px;
  position: absolute;
  top: -30px;
  right: 0;
  color: $error;
}

.inputPassword__passwordIcon {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: $bg-purple;
}

.inputPassword__passwordImg {
  width: 24px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  &:hover {
    filter: alpha(80%);
  }
}
