@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.orgWrapper {
  margin: 0 76px;
}

.orgWrapper__nav {
  margin: 40px 0 16px 0;
  display: flex;
  flex-direction: row;
}

.orgWrapper__nav-item {
  @include text-s;
  @include link;
  color: $button-cyan;
}

.orgWrapper__headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.orgWrapper__header {
  @include header-cyan;
  margin: 0 0 14px 0;
  padding: 0;
  font-weight: normal;
}

.orgWrapper__favourite {
  display: flex;
  flex-direction: row;
}

.orgWrapper__like {
  border-radius: 50%;
  padding: 6px;
  width: 44px;
  aspect-ratio: 1 / 1;
}

.orgWrapper__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 20px 0 13px 0;
}

.orgWrapper__info {
  width: 738px;
}

.orgWrapper__imgContainer {
  height: 494px;
  background-color: $bg-gray;
  margin: 0 0 40px 0;
  border-radius: 16px;
}

.orgWrapper__section {
  margin-bottom: 64px;
}

.orgWrapper__sectionHeader {
  @include text-xl($fw-light);
  padding: 0;
  margin: 0 0 20px 0;
}

.orgWrapper__descText {
  @include text-l($fw-light);
}

.orgWrapper__aside {
  width: 518px;
}

.orgWrapper__contactInfo {
  border-radius: 16px;
  background-color: $bg-purple;
  margin-bottom: 40px;
  padding: 40px 40px 40px 60px;
}

.orgWrapper__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0 0 16px 0;
  padding: 0;
}

.orgWrapper__perYear {
  @include text-l($fw-semi-bold);
  margin-bottom: 10px;
}

.orgWrapper__perMonth {
  @include text-l;
  margin-bottom: 52px;
}

.orgWrapper__contacts {
  @include text-l;
  margin-bottom: 12px;
}

.orgWrapper__buttonWrapper {
  margin-top: 40px;
}

.orgWrapper__map {
  width: 518px;
  height: 334px;
  border-radius: 16px;
  overflow: hidden;
}

.orgWrapper__feedback {
}

.orgWrapper__feedbackHeader {
  @include header-cyan;
  text-align: center;
}
