$white: hsla(0, 0%, 100%, 1);
$black: hsla(240, 14%, 14%, 1);

// Заголовки, header, footer
$title-blue: hsla(237, 85%, 27%, 1);
$gray: hsla(237, 85%, 27%, 0.3);
$orange: hsla(45, 99%, 65%, 1);

//Кнопки
$button-orange: hsla(22, 100%, 59%, 1);
$button-orange-hover: hsla(22, 100%, 59%, 0.9);
$button-orange-active: hsla(22, 100%, 51%, 1);

$button-orange-dis: hsla(22, 100%, 59%, 0.4);

$button-blue: hsla(235, 82%, 60%, 1);
$button-blue-hover: hsla(227, 100%, 96%, 1);

$button-cyan: hsla(227, 100%, 86%, 1);
$button-cyan-hover: hsla(227, 97%, 75%, 1);
$button-cyan-active: hsla(237, 52%, 48%, 1);

// Фон
$bg-purple: hsla(227, 100%, 96%, 1);
$bg-cyan: hsla(251, 43%, 27%, 1);
$bg-gray: hsla(214, 26%, 95%, 1);

//Рамка
$border-purple: hsla(227, 100%, 86%, 1);
$border-violet: hsla(251, 60%, 59%, 1);
$border-lilac: hsla(227, 97%, 75%, 1);

//Ошибка
$error: hsla(349, 100%, 35%, 1);

/* font */
$fw-light: 400;
$fw-normal: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$radii-l: 50px;
$radii-xs: 8px;
$radii-s: 10px;
$radii-m: 16px;
