@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins';
@import '../../../../styles/abstract/placeholders';

.about {
  padding: 152px 0;
}

.about__header {
  @include header-cyan;
  font-weight: $fw-normal;
  text-align: center;
  padding: 0;
  margin: 0 0 64px 0;
}

.about__list {
  @include list;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
