.slider {
  width: 738px;
  position: relative;
  display: flex;

  button:first-child {
    position: absolute;
    top: calc(50% - 20px);
    left: 10px;
    z-index: 11;
  }

  button:last-child {
    position: absolute;
    top: calc(50% - 20px);
    right: 10px;
    z-index: 11;
  }
}

.slider-image {
  width: 100%;
  aspect-ratio: 1 / 0.67;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
