@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.password-recovery-form {
  @include popup-form-main;
  gap: 14px;

  &__button {
    @include popup-button-main;
  }

  @include media-medium {
    gap: 13px;
  }
}

.password-recovery-modal__instructions {
  // @include list;
  @include text-l;

  @include media-netbook {
    @include text-xm;
  }
}

.password-recovery-form__message {
  @include text-l;
  width: 100%;
  text-align: start;
  span {
    color: $title-blue;
  }

  @include media-netbook {
    @include text-xm;
  }
}
