@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.bread-crumb__list {
  margin: 0 0 16px;
  padding: 0;
  display: flex;
}

.bread-crumb__li {
  list-style-type: none;
  color: $gray;
  @include text-s;
}

.bread-crumb__item {
  color: $gray;
  @include link;
  @include text-s;
}

.bread-crumb__item:after {
  padding: 8px;
  color: $gray;
  content: '/\00a0';
}
