@import '../../styles/abstract/constants.scss';

.form {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  justify-content: flex-start;
  align-items: center;
  &_kind {
    &_register {
      width: 408px;
    }
    &_login {
      width: 408px;
    }
    &_recovery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
