@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.inputTel {
  @include input;
  @include formInput;
  padding: 20px;
  border-radius: $radii-s;
}

.inputTel__profile {
  width: 298px;
  height: 68px;
  padding: 20px 26px;
}
