@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';

.input {
  @include input;

  &_kind {
    &_form {
      @include formInput;
    }

    &_password {
      width: 408px;
      height: 69px;
      padding: 20px 60px 20px 20px;
      border-radius: 12px;
    }

    &_info {
      width: 253px;
      height: 70px;
      padding: 20px;
      border-radius: 12px;
    }

    &_search {
      width: 478px;
      height: 48px;
      padding: 10px 60px 10px 20px;
      border-radius: 10px;
      min-height: auto;
    }

    &_price {
      width: 115px;
      height: 39px;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid $gray-light;
      background-color: transparent;
      min-height: auto;
    }
  }
}
