.sort {
  position: relative;
  width: fit-content;
  padding: 0;
  margin: auto;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--Light-grey, #e7e7e7);
  background: var(--White, #fff);

  &_active {
    border-radius: 10px 10px 0 0;
    border-width: 1px 1px 0 1px;
  }

  .sort-wrapper {
    display: flex;
    gap: 10px;
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 20px 0 20px 20px;

    color: var(--Dark-grey, #000);

    /* main text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.16px;
  }

  &__button-arrow {
    cursor: pointer;
    padding: 20px 60px 20px 0;
    background-color: transparent;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M20.7759 23.41C20.6756 23.532 20.5494 23.6302 20.4066 23.6975C20.2638 23.7648 20.1078 23.7995 19.9499 23.7992C19.8125 23.8 19.6764 23.7732 19.5496 23.7203C19.4229 23.6673 19.3081 23.5895 19.2121 23.4912L15.0065 19.28C14.8098 19.0832 14.6994 18.8163 14.6994 18.538C14.6994 18.2598 14.8098 17.9929 15.0065 17.796C15.1038 17.6983 15.2194 17.6208 15.3467 17.5679C15.4741 17.515 15.6106 17.4878 15.7485 17.4878C15.8863 17.4878 16.0229 17.515 16.1502 17.5679C16.2775 17.6208 16.3932 17.6983 16.4905 17.796L18.8999 20.2208V5.24924C18.8999 4.97076 19.0105 4.70369 19.2074 4.50677C19.4043 4.30986 19.6714 4.19924 19.9499 4.19924C20.2283 4.19924 20.4954 4.30986 20.6923 4.50677C20.8892 4.70369 20.9999 4.97076 20.9999 5.24924V20.2068L23.4107 17.8016C23.5079 17.7041 23.6235 17.6268 23.7507 17.574C23.8779 17.5213 24.0142 17.4941 24.152 17.4941C24.2897 17.4941 24.426 17.5213 24.5532 17.574C24.6804 17.6268 24.796 17.7041 24.8933 17.8016C25.0899 17.9985 25.2003 18.2654 25.2003 18.5436C25.2003 18.8219 25.0899 19.0888 24.8933 19.2856L20.7745 23.41H20.7759ZM8.87586 4.58844C8.77556 4.46648 8.64944 4.3683 8.5066 4.301C8.36376 4.23369 8.20776 4.19894 8.04986 4.19924C7.9125 4.19843 7.77639 4.22529 7.64964 4.27821C7.52288 4.33112 7.40807 4.40901 7.31206 4.50724L3.10786 8.71844C2.91123 8.91531 2.80078 9.18219 2.80078 9.46044C2.80078 9.73869 2.91123 10.0056 3.10786 10.2024C3.20515 10.3001 3.32079 10.3777 3.44812 10.4305C3.57545 10.4834 3.71198 10.5107 3.84986 10.5107C3.98774 10.5107 4.12426 10.4834 4.2516 10.4305C4.37893 10.3777 4.49456 10.3001 4.59186 10.2024L6.99986 7.77904V22.7492C6.99986 23.0277 7.11048 23.2948 7.30739 23.4917C7.50431 23.6886 7.77138 23.7992 8.04986 23.7992C8.32833 23.7992 8.59541 23.6886 8.79232 23.4917C8.98923 23.2948 9.09986 23.0277 9.09986 22.7492V7.79164L11.5107 10.1968C11.6079 10.2943 11.7235 10.3717 11.8507 10.4244C11.9779 10.4772 12.1142 10.5044 12.252 10.5044C12.3897 10.5044 12.526 10.4772 12.6532 10.4244C12.7804 10.3717 12.896 10.2943 12.9933 10.1968C13.1899 9.99996 13.3003 9.73309 13.3003 9.45484C13.3003 9.17659 13.1899 8.90971 12.9933 8.71284L8.87446 4.58704L8.87586 4.58844Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;

    color: var(--Dark-grey, #000);

    /* main text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.16px;
  }

  .sort-list {
    position: absolute;
    top: 50%;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    padding: 20px;
    margin: 0;

    visibility: hidden;
    opacity: 0;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--Light-grey, #e7e7e7);
    background: var(--White, #fff);

    transition: all 0.4s ease-out;

    &__active {
      z-index: 5;
      top: 100%;
      visibility: visible;
      opacity: 1;
    }

    &__item {
      position: relative;
      width: fit-content;
      padding-left: 40px;
      list-style: none;
    }

    &__item::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: calc(50% - 15px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%23959595'/%3E%3C/svg%3E");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &__button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      width: max-content;
      height: 100%;
      padding: 0;
      align-content: baseline;
      transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

      color: var(--Dark-grey, #000);

      /* main text */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      letter-spacing: -0.16px;

      &_selected {
        opacity: 0.7;
      }
    }

    &__button:hover {
      opacity: 0.6;
    }
  }
}
