@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.review-modal__item {
max-width: 954px;
}

.review-modal__titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.review-modal__title {
  @include text-l($fw-semi-bold);
  margin: 0 0 10px 0;
  padding: 0;
  overflow: hidden;
  text-wrap: none;
  text-overflow: ellipsis;
}

.review-modal__text {
  @include text-l;
  margin-bottom: 20px;
}
