@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.select-filter {
}

.select-filter__label {
  color: #1f1f29;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.16px;
  cursor: pointer;
}

.select-filter__label_checked {
  color: #0b1181;
}

.select-filter__input {
  display: none;
}
