@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.gratitude-modal__title {
  @include text-xl;
  text-align: center;
  margin-bottom: 40px;
}

.gratitude-modal__text {
  @include text-l;
  text-align: start;
  margin: 0 18px 40px;
}
