@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.search {
  width: 100%;
  max-width: 518px;
  position: relative;
}

.search__searchIcon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 20px;
  z-index: 2;
  background-color: transparent;
}

.search__cleanImg {
  width: 28px;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  &:hover {
    opacity: 0.8;
  }
}

.search__line {
  width: 12px;
  height: 28px;
  background-image: url(../../../../images/SearchForm/line.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.search__searchImg {
  width: 28px;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  &:hover {
    opacity: 0.8;
  }
}

@include media-medium {
  .search {
    width: 380px;
    position: relative;
    height: 36px;
  }
}

@include media-mobile {
  .search {
    width: 231px;
    position: relative;
    height: 36px;
  }
  .search__searchIcon {
    top: 0;
  }
  .search__searchImg {
    width: 16px;
    aspect-ratio: 1 / 1;
    object-fit: contain;

    &:hover {
      opacity: 0.8;
    }
  }
}
