@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins';
@import '../../../../styles/abstract/placeholders';

.service-work {
  background-color: $bg-purple;
  min-height: 908px;
}

.service-work__title {
  @include header-cyan;
  margin-bottom: 16px;
  padding-top: 124px;
  position: relative;
  text-align: center;
}

.service-work__title::before {
  content: '';
  position: absolute;
  width: 112px;
  height: 106px;
  bottom: -20px;
  left: 74px;
  background-image: url('../../../../images/ServiceWork/decoration1.svg');
}

.service-work__subtitle {
  @include text-l;
  margin-bottom: 49px;
  text-align: center;
  color: $title-blue;
}

.service-work__list {
  position: relative;
  @include list;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 230px);
  row-gap: 40px;
  column-gap: 32px;
  justify-content: center;
}

.service-work__list::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 95px;
  top: -60px;
  right: 93px;
  background-image: url('../../../../images/ServiceWork/decoration2.svg');
}

.service-work__list::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 53px;
  bottom: -30px;
  left: 93px;
  background-image: url('../../../../images/ServiceWork/decoration3.svg');
}
