@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins';
@import '../../../../styles/abstract/placeholders';

.service-work {
  min-height: 908px;
  padding-bottom: 409px;
  position: relative;
}

.service-work__title {
  @include header-cyan;
  margin-bottom: 16px;
  padding-top: 124px;
  position: relative;
  max-width: 744px;
}

.service-work__title::before {
  content: '';
  position: absolute;
  width: 112px;
  height: 107px;
  top: 98px;
  right: -441px;
  background-image: url('../../../../images/ServiceWork/snowflake.svg');
}

.service-work__subtitle {
  @include text-l;
  margin-bottom: 49px;
}

.service-work__list {
  position: relative;
  @include list;
  display: grid;
  grid-template-columns: repeat(2, 408px);
  grid-template-rows: repeat(2, 240px);
  row-gap: 32px;
  column-gap: 32px;
  justify-content: center;
}

.service-work__list li:first-child {
  border-radius: 11px;
  border: 4px solid var(--background-is-dark, $border-purple);
  background: var(--background-dark, $border-purple);
  padding: 32px 23px 0 20px;
}

.service-work__list li:nth-child(2) {
  border-radius: 11px;
  border: 4px solid var(--Violet, $border-violet);
  padding: 32px 23px 0 20px;
  grid-row: span 2;
}

.service-work__list li:nth-child(3) {
  border-radius: 11px;
  position: relative;
  border: 4px solid var(--Violet, $border-violet);
  padding: 32px 23px 0 20px;

  &::after {
    content: '';
    position: absolute;
    width: 345px;
    height: 254px;
    bottom: -24px;
    left: 499px;
    background-image: url('../../../../images/ServiceWork/Rectangle\ 367.svg');
  }

  &::before {
    content: '';
    position: absolute;
    width: 240px;
    height: 144px;
    bottom: 171px;
    left: 594px;
    background-image: url('../../../../images/ServiceWork/orange\ dots.svg');
  }
}

.service-work__list::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 53px;
  bottom: -30px;
  left: 305px;
  background-image: url('../../../../images/ServiceWork/decoration3.svg');
}

.service-work__img-team {
  width: 408px;
  border-radius: 16px;
  box-shadow: 0px 24px 0px 0px$border-violet;
  margin-right: 32px;
}

.service-work__wrapper {
  display: flex;
}

.service-work__img-wave {
  position: absolute;
  bottom: 150px;
  left: 0;
}

.service-work__img-plus {
  position: absolute;
}

.service-work__img-wrapper {
  position: relative;
  bottom: -408px;
  right: -1276px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
