@import '../../styles/abstract/constants.scss';

.catalog {
  padding: 0 76px;
}

.catalog__nav {
  display: flex;
  gap: 20px;

  margin-bottom: 50px;
}

.catalog__nav-item {
  background-color: transparent;
  border: none;
  cursor: pointer;

  color: #ecf0ff;

  font-size: 50px;
  font-style: normal;
  font-weight: $fw-normal;
  line-height: 120%;

  &_selected {
    color: $blue-title;
    border-bottom: 3px solid #ff7a2c;
  }
}

.list-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-areas:
    '. search search'
    'aside content content';
  column-gap: 32px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  grid-area: search;
  margin-bottom: 40px;
}

.filter {
  grid-area: aside;
}

.show-list {
  grid-area: content;
}
