@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.password-recovery-modal__title {
  font-size: 40px;
  line-height: 1.2;
  margin: 0 0 40px;
  font-weight: 400;
  letter-spacing: -0.44px;
}

.password-recovery-modal__instructions {
  // @include list;
  padding: 0 0 0 20px;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 40px;
  font-weight: 400;
  letter-spacing: -0.44px;
}

.password-recovery-form__message {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 40px 0 0;
  span {
    color: $title-blue;
  }
}
