@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/constants.scss';

.new-password-form {
  @include popup-form-main;
  gap: 14px;

  &__button {
    @include popup-button-main;
  }

  &__fieldset {
    @include fieldset-clean;

    & > *:not(:first-child) {
      margin-bottom: 16px;

      @include media-medium {
        margin-bottom: 4px;
      }
    }
  }

  &__fieldset-legend {
    @include text-l;
    margin-bottom: 12px;
  }

  @include media-medium {
    gap: 11px;
  }
}
