@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 19px;

  &_header {
    width: 452px;
    @include media-medium {
      display: none;
    }
  }

  &_footer {
    width: 380px;
    @include media-medium {
      width: 295px;
    }
    @include media-small {
      flex-direction: column;
      min-height: 137px;
      align-items: start;
      width: 100%;
    }
  }

  &_burger {
    flex-direction: column;
    min-height: 137px;
    align-items: start;
    margin-top: 38px;
  }
}

.navigation__item {
  @include link;
  line-height: 1.3;
  color: $title-blue;
  @include text-l(600);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  padding: 2px 16px;
  border-radius: 12px;

  @include media-medium {
    font-size: 16px;
    line-height: 1.25;
  }

  &_type_active {
    background-color: #ecf0ff;
  }

  &_type_soon {
    color: rgba(11, 17, 129, 0.3);
    pointer-events: none;
  }

  &_type_footer {
    font-weight: 400;
    height: 26px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
    color: #fefefe;
    letter-spacing: 0.3px;

    @include media-medium {
      font-size: 14px;
      line-height: 1.25;
    }
  }

  &_type_burger {
    height: 46px;
    width: 100%;
    justify-content: start;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    border-radius: 0;

    &_active {
      background-color: #ecf0ff;
    }
  }
}

.navigation__item-span {
  @include text-xs;
  width: 52px;
  height: 22px;
  border-radius: 25px;
  background-color: #fed04b;
  position: absolute;
  top: -17px;
  right: -35px;
  padding: 4px 8px;
  color: $title-blue;
}

.navigation__item-list {
  @include link;
  @include list;
  @include text-m;
  margin: 12px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navigation__item-count {
  @include text-xs;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #ff6003;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
}
