@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';

.empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.empty-page__title {
  max-width: 940px;
  @include text-l($fw-semi-bold);
  padding: 46px 0 39px;
  color: $blue-dark;
}

.empty-page__text {
  @include text-l($fw-semi-bold);
  padding: 46px 0 39px;
  color: $blue-dark;
  max-width: 848px;
}

.empty-page__image {
  padding-left: 23px;
  width: 633px;
  height: 157px;
}
