@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';

.empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.empty-page__title {
  text-align: center;
  margin: 0;

  &_size {
    &_small {
      font-size: 22px;
      font-weight: 400;
      line-height: 140%;
    }

    &_medium {
      font-size: 40px;
      font-weight: 600;
      line-height: 120%;
    }

    &_large {
      font-size: 50px;
      font-weight: 500;
      line-height: 120%;
    }
  }
  &_color {
    &_blue {
      color: $title-blue;
    }

    &_black {
      color: $black;
    }
  }
  &_margin {
    &_small {
      margin-bottom: 30px;
    }

    &_medium {
      margin-bottom: 40px;
    }

    &_large {
      margin-bottom: 50px;
    }
  }
}

.empty-page__text {
  text-align: center;
  @include text-l();
  line-height: 140%;
  margin-bottom: 50px;
}

.empty-page__image {
  width: 100px;
  height: 100px;
}
