@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.navigation-favorites {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navigation-favorites__item {
  @include text-m;
  color: $black;
  @include link;
  padding: 0;
  text-align: start;
  background-color: #fff;
  border: none;
  line-height: 130%;
  font-family: 'Manrope', 'Arial', sans-serif;
}

.navigation-favorites__item_active {
  color: $title-blue;
}
