@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.navigation-favorites {
  margin-bottom: 40px;
  width: 298px;
  display: flex;
  gap: 16px;
}

.navigation-favorites__item {
  @include text-m;
  color: $blue-link;
  @include link;
  padding: 0;
  text-align: start;
  background-color: #fff;
  border: none;
  line-height: 130%;
  font-family: 'Manrope', 'Arial', sans-serif;
}

.navigation-favorites__item_active {
  color: $blue-title;
}
