@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.navigation-profile {
  width: 298px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navigation-profile__item {
  width: 298px;
  @include text-m;
  color: $title-blue;
  @include link;
  padding: 0;
  text-align: start;
  background-color: #fff;
  border: none;
  line-height: 130%;
  font-family: 'Manrope', 'Arial', sans-serif;
}

.navigation-profile__item_favorites {
  position: relative;
}

.navigation-profile__item_favorites::after {
  content: '';
  width: 24px;
  height: 24px;
  top: 0;
  right: 12px;
  position: absolute;
  background-image: url('../../../../images/Profile/Arrow-min-down.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.favoritesOpen::after {
  content: '';
  width: 24px;
  height: 24px;
  top: 0;
  right: 12px;
  position: absolute;
  background-image: url('../../../../images/Profile/Arrow-min-up.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation-profile__item_active {
  color: $title-blue;
}
