@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.checkbox__variant {
  &_terms {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;

    width: 520px;
    height: 68px;
    margin-bottom: 20px;
  }

  &_filter {
  }
}

.checkbox-label__variant {
  &_terms {
    display: inline-block;
    width: 27px;
    height: 30px;
    padding-left: 27px;
    background-color: transparent;
    border: 1px solid #0b11814d;
    border-radius: 4px;
  }

  &_filter {
    color: #1f1f29;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.16px;
    cursor: pointer;
  }
}

.checkbox-label__terms_checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Crect width='27' height='28' rx='4' fill='%23B8C7FF'/%3E%3Crect x='0.75' y='0.75' width='26.5' height='26.5' rx='3.25' stroke='%230B1181' stroke-width='1.5'/%3E%3Cpath d='M8 14.5L14 20L20 7.5' stroke='%231F1F29' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid transparent;
}
.checkbox-label__filter_checked {
  color: #0b1181;
}

.checkbox__input {
  display: none;
}

.checkbox__text {
  color: #000;
  margin: 0;

  /* main text */
  @include text-m;
  line-height: 1.2;
}

.checkbox__link {
  color: var(--Blue, #4654ed);
  @include text-m($fw-bold);
  text-decoration-line: underline;
}
