@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.favorites {
}

.favorites__title {
  @include text-xl;
  margin-bottom: 48px;
  color: $title-blue;
}

.favorites__block {
  display: flex;
  gap: 32px;
}
