@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';

.feedback {
  background-color: $bg-purple;
  width: 408px;
  height: 364px;
  padding: 40px;
  border-radius: 16px;
}

.feedback__titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.feedback__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px 0 0;
  padding: 0;
}

.feedback__text {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 20px 0;
}
