@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/placeholders.scss';


.feedback__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.feedback__rating {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    @include text-l(600);
  }
  p {
    @include text-l(600);
    color: rgba(110, 87, 213, 0.4);
  }
}

.feedback__ratingValue {
  @extend %font-add;
}

.feedback__add {
  @include link;
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  span {
    @include text-l(600);
    font-size: 18px;
    color: rgba(46, 35, 96, 1);
  }
}

.feedback__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

