@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';

.feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 222px;
}

.feedback__item {
  border: 1px solid $border-purple;
  width: 408px;
  height: 380px;
  padding: 40px;
  border-radius: $radii-m;
}

.feedback__titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.feedback__title {
  @include text-l($fw-semi-bold);
  margin: 0 10px 0 0;
  padding: 0;
}

.feedback__text {
  @include text-l;
  margin: 20px 0;
}
