@import '../../../../styles/abstract/mixins.scss';
@import '../../../../styles/abstract/constants.scss';

.user {
  margin-left: 40px;
  width: 958px;
}

.user__wrapper {
  margin-bottom: 32px;
  width: 729px;
  padding: 25px 60px;
  display: flex;
  gap: 60px;
  background-color: $white;
  border-radius: 10px;
}

.user__label {
  @include text-m;
  width: 84px;
}

.user__text {
  @include text-m;
}
