@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.about-card {
  position: relative;
  width: 408px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: $white;
  border: 1px solid $border-purple;
}

.about-card__icon-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px 64px;
  &_type {
    &_green {
      background-color: $green-blue;
      background-image: url('../../../../images/AboutCard/clock.svg');
    }

    &_blue {
      background-color: $blue-light;
      background-image: url('../../../../images/AboutCard/browser.svg');
    }

    &_orange {
      background-color: $orange-light;
      background-image: url('../../../../images/AboutCard/thumb-up.svg');
    }
  }
}

.about-card__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-card__title {
  @include text-l;
  font-weight: $fw-normal;
}

.about-card__description {
  @include text-m;
}
