@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/mixins.scss';

.about-card {
  position: relative;
  width: 408px;
  height: 432px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-radius: $radii-m;
  background-color: $bg-purple;
}

.about-card__icon-wrapper {
  height: 120px;
  width: 120px;
  margin-bottom: 24px;
  &_type {
    &_one {
      background-image: url('../../../../images/AboutCard/clock.svg');
    }

    &_two {
      background-image: url('../../../../images/AboutCard/calendar.svg');
    }

    &_three {
      background-image: url('../../../../images/AboutCard/thumb-up.svg');
    }
  }
}

.about-card__title {
  @include text-l;
  font-weight: $fw-normal;
  margin-bottom: 16px;
}

.about-card__description {
  @include text-l;
}
