@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.header {
  min-height: 83px;
  background-color: aquamarine;
  padding: 21px 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 120px;
    height: 40px;
    margin-right: 80px;
  }

  &__auth-area {
    display: flex;
    align-items: center;
    min-height: 43px;
  }

  &__auth-btn {
    @include link-text;
    margin-right: 20px;
    border-radius: 10px;
    color: $black;

    &:last-child {
      margin: 0;
    }

    &__login {
      @include link-text;
    }

    &__registration {
      @include link-text;
      font-size: 15px;
      line-height: 1.49;

      height: 43px;
      width: 163px;
      padding: 10px 20px;
      border: 1px solid black;
    }
  }
}
