@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.header {
  min-height: 83px;
  background-color: aquamarine;
  padding: 21px 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 120px;
  height: 40px;
  margin-right: 80px;
}

.header__auth-area {
  display: flex;
  align-items: center;
  min-height: 43px;
}

.header__auth-btn {
  @include link;
  @include text-m;
  margin-right: 20px;
  border-radius: 10px;
  color: $black;

  &:last-child {
    margin: 0;
  }

  &_login {
    @include link;
    @include text-m;
  }

  &_registration {
    @include link;
    @include text-m;
    font-size: 15px;
    line-height: 1.49;

    height: 43px;
    width: 163px;
    padding: 10px 20px;
    border: 1px solid black;
  }
}
