@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.header {
  min-height: 110px;
  width: 100%;
  padding: 30px 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;

  @include media-medium {
    padding: 19px 32px;
    min-height: 72px;
  }
  @include media-small {
    padding: 16px;
    min-height: 72px;
  }
}
.header__burger {
  display: none;
  @include media-medium {
    display: block;
  }
}

.header__left-container {
  display: flex;
  align-items: end;
}

.header__logo {
  width: 116px;
  height: 40px;
  margin-right: 229px;
  @include media-medium {
    margin-right: 62px;
  }
  @include media-small {
    margin-right: 0;
  }
}

.header__profile {
  width: 52px;
  height: 52px;
  background-image: url('../../images/profile_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  @include media-small {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
}

.header__auth-area {
  display: flex;
  align-items: center;
  min-height: 43px;
  @include media-medium {
    display: none;
  }
}

.header__auth-icon {
  @include link;
  display: none;
  @include media-medium {
    display: block;
  }
}

.header__auth-btn {
  @include link;
  @include text-l(600);
  border: none;
  background: inherit;

  margin-right: 16px;
  border-radius: 10px;

  &:last-child {
    margin: 0;
  }

  &_login {
    color: $title-blue;
    padding: 0;
  }

  &_registration {
    @include text-m(600);
    height: 40px;
    width: 188px;

    padding: 7px 17px;
    border-radius: 12px;
    border: 2px solid #6e57d5;
    color: #6e57d5;
    text-align: center;
  }
}
