@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.header {
  min-height: 110px;
  padding: 21px 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 120px;
  height: 40px;
  margin-right: 80px;
}

.header__profile {
  width: 52px;
  height: 52px;
  background-image: url('../../images/profile_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.header__auth-area {
  display: flex;
  align-items: center;
  min-height: 43px;
}

.header__auth-btn {
  @include link;
  @include text-l($fw-normal);
  border: none;
  background: inherit;

  margin-right: 16px;
  border-radius: 10px;

  &:last-child {
    margin: 0;
  }

  &_login {
    color: $blue-title;
    padding: 0;
  }

  &_registration {
    background: linear-gradient(to right, #6e57d5, #5bc1ff);

    height: 40px;
    width: 188px;

    padding: 7px 17px;
    border-radius: 50px;
    color: $white;
    text-align: center;
  }
}
