@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.newsModal__title {
  @include text-xl($fw-normal);
  margin-bottom: 14px;
}

.newsModal__img {
  align-items: center;
  width: 940px;
  height: 408px;
  object-fit:cover; 
}

.newsModal__text {
  @include text-l($fw-normal);
  margin-top: 36px;
}
