@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.newsModal__title {
  @include text-xl($fw-normal);
  margin-bottom: 14px;
  @include media-small {
    font-size: 20px;
  }
}

.newsModal__img {
  align-items: center;
  width: 100%;
  max-height: 408px;
  object-fit: cover;
  @include media-small {
    width: 110%;
    box-sizing: border-box;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.newsModal__text {
  @include text-l($fw-normal);
  margin-top: 36px;
  p {
    margin: 0;
    margin-top: 60px;
    @include media-small {
      margin-top: 28px;
    }
  }
  @include media-small {
    font-size: 15px;
  }
}
