@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/constants.scss';

.burger-menu {
  position: absolute;
  top: -268px;
  right: 0;
  min-height: 176px;
  width: 320px;
  background-color: white;
  padding-left: 12px;
  border-radius: 0 0 10px 10px;
  transition: 0.5s;
  display: hidden;

  &_open {
    display: block;
    top: 0;
  }

  @include media-small {
    width: calc(100% + 0px);
  }
}

.burger-menu__close-btn {
  @include button;
  width: 22px;
  height: 22px;
  background-image: url('../images/burger_icon_close.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 8px;
  right: 12px;

  &:hover {
    opacity: 0.8;
  }
}

.burger-menu__auth {
  @include link;
  line-height: 1.3;
  color: $title-blue;
  @include text-l(600);
  font-family: 'Raleway', 'Arial', sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: inherit;

  height: 30px;
  padding: 2px 16px;
  border-radius: 12px;

  height: 46px;
  width: 100%;
  justify-content: start;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 0;
}

.burger-menu__owerlay {
  // background-color: rgba(25, 26, 49, 0.63);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
