@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 83px - 249px - 120px);
}

.not-found__link {
  @include link;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fefefe;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.2px;

  background-color: #ff7a2c;
  border-radius: 50px;
  border: 3px solid #ff7a2c;
  height: 68px;
  width: 408px;
}
